<div *ngIf="isLogged; else elseBlock" class="container">
    <app-theme-list></app-theme-list>
    <app-aside></app-aside>
</div>

<ng-template #elseBlock>
    <div class="container">
        <div class="welcome">
            <h3>Welcome!</h3>
            <p>SoftUni forum is a place, where you can post your questions, comment, and discuss problems, which
                you have in your programming language or in your study in SoftUni.</p>
            <div class="logged">
                <ul>
                    <li>
                        <a routerLink="/user/login">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>
                    <li>
                        <a routerLink="/user/register">
                            <i class="fas fa-user-plus"></i>
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>        
    </div>
</ng-template>