<div class="py-5">
    <div class="container">
        <img style="display: block; margin: 0 auto; max-width: 800px;"
            src="https://www.kindpng.com/picc/m/750-7503319_road-closed-png-banner-transparent-road-closed-ahead.png" />
        <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
    </div>
</div>